@model IEnumerable<Entities.DTOs.GameDetailsDto>
@{
    ViewData["Title"] = "Games";
}

<head>
    <title>Gamess</title>
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Custom styles-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="well">
                <h1 class="text-center">Oyunlar Listesi</h1>
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                    <a asp-controller="Games" asp-action="Game" asp-route-id=@item.ID class="list-group-item active">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="http://placehold.it/350x250" alt="placehold.it/350x250">
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> @item.GameName </h4>
                            <p class="list-group-item-text">
                                <ul>
                                    <li>@item.DeveloperName</li>
                                    <li>@item.PublisherName</li>
                                    <li>@item.CategoryName</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <button type="button" class="btn btn-default btn-lg btn-block" asp-controller="Games" asp-action="Game" asp-route-id=@item.ID> Vote Now! </button>
                            <div class="stars">
                                @{
                                    int i = 0;
                                    for (; i < item.Rate; i++)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                    }
                                    for (; i < 5; i++)
                                    {
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }
                                }
                            </div>
                            <p> Average @item.Rate <small> / </small> 5 </p>
                        </div>
                    </a>
            }
                    
                </div>
            </div>
        </div>
    </div>
</body>
