<style>
    htlm, body {
        background-image: url("https://wallpapercave.com/wp/wp7618993.jpg");
        background-size: cover;
    }
</style>


@model IEnumerable<Entities.DTOs.GameDetailsDto>
<style>

    img {
        width: 1600px; /* You can set the dimensions to whatever you want */
        height: 400px;
        object-fit: fill;
    }
</style>

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> locOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var culturelItems = locOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

}

<form asp-action="LanguageGames" method="post">
    <label class="font-weight-bold">@Localizer["Dil :"]</label>
    <select name="culture" onchange="this.form.submit()" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="culturelItems">
    </select>
</form>


<div>
    <h1 class="text-center">
        @Localizer["Popüler Oyunlar"]  
    </h1>
</div>

<br />

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            int i = 0;
            @foreach (var item in Model)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <a asp-controller="Games" asp-action="Rate" asp-route-id=@item.ID>
                            <img class="d-block w-100" src="~/stockImages/game.jpg" alt=@item.GameName>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.GameName</h5>
                                <p>@item.ReleaseDate.Year</p>
                                @for (int r = 0; r < item.Rate; r++)
                                {<span class="iconify" data-icon="bi:star" style="color:yellow"></span>}
                                <p>@item.Rate.ToString("0.0")/5</p>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a asp-controller="Games" asp-action="Rate" asp-route-id=@item.ID>
                            <img class="d-block w-100 " src="~/stockImages/game.jpg" alt=@item.GameName>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.GameName</h5>
                                <p>@item.ReleaseDate.Year</p>
                                @for (int r = 0; r < item.Rate; r++)
                                {<span class="iconify" data-icon="bi:star" style="color:yellow"></span>}
                                <p>@item.Rate.ToString("0.0")/5</p>
                            </div>
                        </a>
                    </div>
                }

                i++;
            }
        }

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<script src="~/js/iconify.min.js" asp-append-version="true"></script>