@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> locOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var culturelItems = locOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

}

<form asp-action="Cookie" method="post">
    <label>Dil:</label>
    <select name="culture" onchange="this.form.submit()" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="culturelItems">
    </select>
</form>

<table class="table culture-table">
    <tr>
        <td>@Localizer["Dil"] </td>
        <td>
            @requestCulture.RequestCulture.Culture.Name
        </td>
    </tr>

    <tr>
        <td>@Localizer["Tarih"]</td>
        <td>
            @DateTime.Now.ToLongDateString();
        </td>
    </tr>
</table>

<div>
    <h1>
        @Localizer["Merhaba"]
    </h1>

    <h2>
        @Localizer["Pazartesi"]
    </h2>

    <h2>
        @Localizer["Mavi"]
    </h2>



</div>