<style>
    htlm, body {
        background-image: url("https://wallpapercave.com/wp/wp7618993.jpg");
        background-size: cover;
    }
</style>

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> locOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var culturelItems = locOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();

}

<div class="row justify-content-end">
    <form asp-action="LanguageRegister" method="post">
        <label class="font-weight-bold">@Localizer["Dil :"]</label>
        <select name="culture" onchange="this.form.submit()" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="culturelItems">
        </select>
    </form>
</div>

@model Entities.DTOs.UserForRegisterDto
<div class="row font-weight-bold">
    <div class="col-md-4">
        <form asp-controller="Auth" asp-action="Register" onsubmit="return validate()">
            <h4>@Localizer["Hesap Oluştur"] </h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="FirstName">@Localizer["İsim"]</label>
                <input type="text" asp-for="FirstName" class="form-control" id="FirstName"/>
                <span asp-validation-for="FirstName" class="text-danger" id="FirstNameSpan"></span>
            </div>
            <div class="form-group">
                <label for="LastName">@Localizer["Soy İsim"]</label>
                <input asp-for="LastName" class="form-control" id="LastName"/>
                <span asp-validation-for="LastName" class="text-danger" id="LastNameSpan"></span>
            </div>
            <div class="form-group">
                <label for="UserName">@Localizer["Kullanıcı Adı"]</label>
                <input type="text" asp-for="UserName" class="form-control" id="UserName"/>
                <span asp-validation-for="UserName" class="text-danger" id="UserNameSpan"></span>
            </div>
            <div class="form-group">
                <label for="Email">@Localizer["E-Mail"]</label>
                <input type="email" asp-for="Email" class="form-control"id="Email" />
                <span asp-validation-for="Email" class="text-danger" id="EmailSpan"></span>
            </div>
            <div class="form-group">
                <label  for="Password">@Localizer["Şifre"]</label>
                <input type="password" asp-for="Password" class="form-control" id="Password"/>
                <span asp-validation-for="Password" class="text-danger" id="PasswordSpan"></span>
            </div>
            <div class="form-group">
                <label for="PasswordValidation">@Localizer["Şifre Tekrar"]</label>
                <input type="password" asp-for="PasswordValidation" class="form-control" id="PasswordValidation"/>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Kayıt Ol"]</button>
        </form>
    </div>
</div>
<script src="~/js/Validation.js"></script>
